/*
    Overwriten tachyons styles
*/

.green {
    color: #3eb882;
}

.navy {
    color: #445b71;
}

/*
    END OF Overwriten tachyons styles
*/

.logo-animation {
    transition: all .25s ease;
}

.logo-animation:hover {
    transform: scale(1.05) translate3d(0, 0, 0);
}
